<!-- <p>expancerecord works!</p> -->
<div class="container-fluid"> 
<form [formGroup]="expanceRecordform" (ngSubmit)="onExpanceRecordSubmit(expanceRecordform.value)">

    


    <div class="form-grop">
        <div class="row">
            <div class="col-sm-2">
              <label>Date</label>
            </div>
            
  
            <div class="mt-2 col-sm-4" >
                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" class="form-control" formControlName="expancedate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
              <!-- <input type="text"  class="form-control" formControlName="expancedate" > -->
              
            </div>
        </div>


        <div class="row">
          <div class="col-sm-2">
            <label>Expance Item</label>
          </div>
          

          <div class="mt-2 col-sm-4">
            <input type="text" class="form-control" formControlName="expanceItem" >
          </div>
        </div>


        <div class="row">
            <div class="col-sm-2">
              <label>Price</label>
            </div>
            
  
            <div class="mt-2 col-sm-4">
              <input type="text" class="form-control" formControlName="Price" >
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <label>Price Breakup</label>
            </div>
            
  
            <div class="mt-2 col-sm-4">
              <input type="text" class="form-control" formControlName="priceBreakUp" >
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <label>Payment Method</label>
            </div>
            
  
            <div class="mt-2 col-sm-4">
              <input type="text" class="form-control" formControlName="paymentMethod" >
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <label>Cashback</label>
            </div>
            
  
            <div class="mt-2 col-sm-4">
              <input type="text" class="form-control" formControlName="cashBack" >
            </div>
          </div>
          <div class="mt-2 col-md-12">
            <button type="submit" class="btn btn-primary float-md-left" data-bs-dismiss="modal">Submit</button>
          </div>


    </div>

</form>
</div>