
<!-- Trigger the modal with a button -->

<div class="container text-center" style="margin-top: 35%;">
  <h5>Expanse Tracker</h5>
  <button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#LoginModal">LogIn</button>
  <br>
  <a data-bs-toggle="modal" data-bs-target="#SignUpModal">Sign Up</a>
</div>


<!-- LoginModal -->
<div id="LoginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>

        <div class="container"> 
          <div class="row">
           <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
            <!-- <div class="panel-body">  -->
            
              <!-- <div class="col-sm-6"> -->
                <div class="form-grop">
                  <div class="row">
                    <div class="col-sm-4">
                      <label>Email</label>
                    </div>
                    
  
                    <div class="mt-2 col-sm-8">
                      <input type="text" class="form-control" formControlName="email" >
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-sm-4">
                      <label>Password</label>
                    </div>
                    
  
                    <div class="mt-2 col-sm-8">
                      <input type="text" class="form-control" formControlName="password" >
                    </div>
                  </div>


                  <div class="mt-2 col-md-12">
                    <button type="submit" class="btn btn-primary float-md-end">Submit</button>
                  </div>
                  <br>

                  <div class="mt-2 col-sm-8" *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password</div>
                </div>


              <!-- </div> -->

            
          <!-- </div> -->

          </form> 
        </div>
        </div>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



<!-- SignUp Modal -->
<div id="SignUpModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">SignUp</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
         <div class="container"> 
          <div class="row">
           <form [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit(signUpForm.value)">
            <!-- <div class="panel-body">  -->
            
              <!-- <div class="col-sm-6"> -->
                <div class="form-grop">

                  <div class="row">
                    <div class="col-sm-4">
                      <label>First Name</label>
                    </div>
                    
  
                    <div class="mt-2 col-sm-8">
                      <input type="text" class="form-control" formControlName="firstname" >
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-4">
                      <label>Last Name</label>
                    </div>
                    
  
                    <div class="mt-2 col-sm-8">
                      <input type="text" class="form-control" formControlName="lastname" >
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-4">
                      <label>Email</label>
                    </div>
                    
  
                    <div class="mt-2 col-sm-8">
                      <input type="text" class="form-control" formControlName="email" >
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-sm-4">
                      <label>Password</label>
                    </div>
                    
  
                    <div class="mt-2 col-sm-8">
                      <input type="text" class="form-control" formControlName="password" >
                    </div>
                  </div>

                  <div class="mt-2 col-md-12">
                    <button type="submit" class="btn btn-primary float-md-end">Submit</button>
                  </div>


                  

                </div>


                


              <!-- </div> -->

            
          <!-- </div> -->

          </form> 
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>